<footer>
    Derechos Reservados &copy; 2021
    <a class="nav-link" href="views/politicas de privacidad.html">POLITICAS DE PRIVACIDAD <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="views/derechos de  autor.html">DERECHOS DE AUTOR<span class="sr-only">(current)</span></a>
    <a class="nav-link" href="https://www.facebook.com/">FACEBOOK <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="">WHATSAPP <span class="sr-only">(current)</span></a>
</footer>