<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/Iniciar sesion.css">


    <title>Strett Shoes</title>


    <!--Aplicando estilos de tipo interno-->
    <style>
        h1 {
            color: blueviolet !important;
        }
        
        .tamañoIMG {
            width: auto;
            height: 720px;
        }
        
        .fondoDescripcion {
            background-color: #3a4a4a91;
        }
        
        .removerjumbotron {
            background-color: transparent
        }
    </style>
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>



    <!--Barra de navehación-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./REGISTRARSE.html">REGISTRARSE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./PRODUCTOS.html">PRODUCTOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NUEVO
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./HOMBRES.html">HOMBRE</a>
                        <a class="dropdown-item" href="./MUJERES.html">MUJERES</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./Niños.html">NIÑOS</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link indisabled" href="./views/OFERTAS.html" tabindex="-1" aria-disabled="false">OFERTAS.</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--Seccion 1 Home-->

    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="../resources/img/user.jpg" th:src="@{/img/user.png}" />
                </div>
                <form class="col-12" th:action="@{/login}" method="get">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" />
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                </form>
                <div class="col-12 forgot">
                    <a href="./olvide mi contraseña.html">olvide mi contraseña</a>
                </div>
                <!--<div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success" role="alert">
                    You have been logged out.
                </div>-->
                <br>
                <br>
                <br>
                <br>
                <br>


            </div>
        </div>
    </div>
    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js "></script>
    <script src="../resources/Bootstrap/bootstrap.bundle.min.js "></script>

</body>


</html>