<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-escalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/Metodos-de-Pagos.css">

    <title>Metodos de Pagos</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="">INICIO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../views/iniciar sesion.html">INICIAR SESION <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/REGISTRARSE.html">REGISTRARSE</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NUEVO</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/HOMBRES.html">HOMBRE</a>
                            <a class="dropdown-item" href="../views/MUJERES.html">MUJERES</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../views/PRODUCTOS.html">PRODUCTOS</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link indisabled" href="../views/OFERTAS.html" tabindex="-1" aria-disabled="true">OFERTAS</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <div>
        <ul class="iconos-arriba">
            <i>
                <img class="icono-carrito" src="https://img.icons8.com/material-outlined/50/000000/shopping-cart.png"/>
            </i>
            <i>
                <img src="https://img.icons8.com/material-outlined/50/000000/document.png"/>
            </i>
            <i>
                <img src="https://img.icons8.com/material-outlined/50/000000/delivery.png"/>
            </i>
            <i>
                <img src="https://img.icons8.com/material-outlined/50/000000/bank-cards.png"/>
            </i>
        </ul>
    </div>
    <br>
    <div class="linea-debajo">
        <hr class="box">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="tabla">
        <table class="tablaUno">
            <tr>
                <th>
                    <img src="https://falabella.scene7.com/is/image/FalabellaPE/17327591_1?wid=800&hei=800&qlt=70" style="width: 300px;" alt="Producto">
                </th>
                <th>
                    <input style="width: 70%;" type="number" max="3" min="1" placeholder="1">
                </th>
                <th>
                    <label for="talla">39 - 40 - 41 - 42</label><br>
                    <input class="talla" type="range" min="1" max="4">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="https://falabella.scene7.com/is/image/FalabellaPE/17327591_1?wid=800&hei=800&qlt=70" style="width: 300px;" alt="Producto">
                </th>
                <th>
                    <input style="width: 70%;" type="number" max="3" min="1" placeholder="2">
                </th>
                <th>
                    <label for="talla">39 - 40 - 41 - 42</label><br>
                    <input class="talla" type="range" min="1" max="4">
                </th>
            </tr>
            <tr>
                <th>
                    <img src="https://falabella.scene7.com/is/image/FalabellaPE/17327591_1?wid=800&hei=800&qlt=70" style="width: 300px;" alt="Producto">
                </th>
                <th>
                    <input style="width: 70%;" type="number" max="3" min="1" placeholder="3">
                </th>
                <th>
                    <label for="talla">39 - 40 - 41 - 42</label><br>
                    <input class="talla" type="range" min="1" max="4">
                </th>
            </tr>
        </table>
        <div>
            <table class="tablaDos">
                <tr>
                    <th>
                        <br><br>
                        <p class="perita">Subtotal..............................................S/129.90</p>
                        <br><br><br>
                        <p class="perita">Costo de envio....................................S/10.00</p>
                        <br><br><br><br><br><br><br>
                        <div class="linea-dos">
                            <p>______________________________________</p>
                        </div>
                        <p>Total.....................................................S/139.90</p>
                        <br><br>
                        <button type="button" class="btn btn-danger"><a href="Metodos-de-Pagos-2.html"></a>Ir a Comprar</button>
                    </th>
                </tr>
            </table>

        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <footer>
        <p>Derechos Reservados &copy; 2021</p>
        <a class="nav-link " href="politicas de privacidad.html">POLITICAS DE PRIVACIDAD <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="derechos de  autor.html">DERECHOS DE AUTOR<span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="https://www.facebook.com/ ">FACEBOOK <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="https://wa.me/message/OY7HSCSKDWEOA1 ">WHATSAPP <span class="sr-only ">(current)</span></a>

    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>


</html>