<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/Mujeres.css">


    <title>Strett Shoes</title>



</head>

<body>



    <!--Barra de navehación-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./REGISTRARSE.html">REGISTRARSE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./PRODUCTOS.html">PRODUCTOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NUEVO
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./HOMBRES.html">HOMBRE</a>
                        <a class="dropdown-item" href="./MUJERES.html">MUJERES</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="./Niños.html">NIÑOS</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link indisabled" href="./ofertas.html" tabindex="-1" aria-disabled="false">OFERTAS</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br>
    <br>

    <!--Seccion 1 Home-->
    <div style="padding-left: 15px;  padding-right: 15px;" class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                <img src="https://falabella.scene7.com/is/image/FalabellaPE/17828609_1?wid=800&hei=800&qlt=70" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark" href="../views/descripcion productos-M.html" role="button">Ver Producto</a>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                <img src="https://falabella.scene7.com/is/image/FalabellaPE/17394679_1?wid=800&hei=800&qlt=70" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                    <a class="btn btn-dark" href="#" role="button">Ver Producto</a>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNswgvBcblXnpy336WizWZhwf5ZraQQYHQxA&usqp=CAU" class="card-img-top" alt="...">
                <br>
                <br>
                <br>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    <a class="btn btn-dark" href="#" role="button">Ver Producto</a>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                <img src="https://home.ripley.com.pe/Attachment/WOP_5/2026235533371/2026235533371_2.jpg" class="card-img-top" alt="...">
                <br>
                <br>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark" href="#" role="button">Ver Producto</a>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                <img src="https://cdn.shopify.com/s/files/1/0256/3896/1251/products/718-23.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark" href="#" role="button">Ver Producto</a>

                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;">
                <img src="https://home.ripley.com.pe/Attachment/WOP_5/2026276077100/2026276077100-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a class="btn btn-dark" href="#" role="button">Ver Producto</a>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    <footer>
        <p>Derechos Reservados &copy; 2021</p>
        <a class="nav-link" href="../views/politicas de privacidad.html">POLITICAS DE PRIVACIDAD <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="../views/derechos de  autor.html">DERECHOS DE AUTOR<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="https://www.facebook.com/">FACEBOOK <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="">WHATSAPP <span class="sr-only">(current)</span></a>
    </footer>

    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js "></script>
    <script src="../resources/Bootstrap/bootstrap.bundle.min.js "></script>

</body>


</html>