<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/Productos.css">


    <title>Strett Shoes</title>



</head>

<body>



    <!--Barra de navehación-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/REGISTRARSE.html">REGISTRARSE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/PRODUCTOS.html">PRODUCTOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NUEVO
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../views/HOMBRES.html">HOMBRE</a>
                        <a class="dropdown-item" href="../views/MUJERES.html">MUJERES</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../views/Niños.html">Niños</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link indisabled" href="../views/ofertas.html" tabindex="-1" aria-disabled="false">OFERTAS</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--Seccion 1 Home-->
    <center>
        <br>
        <br>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card" style="max-width: 2000px; min-height: 500px; border-radius:0 auto;margin-left:15px ;margin-right: 15px;margin-top: 15px;background: white;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;">
                    <img id="imgCard" src="../resources/img/zapatilla1.jpeg" class="card-img-top" alt="imagen 1">
                    <div class="card-body">
                        <h5 class="card-title">Calzado Hombre</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a class="btn btn-dark" href="./HOMBRES.html" role="button">Ver Productos</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col mb-4">
                <div class="card" style="max-width: 2000px; min-height: 500px; border-radius:0 auto;margin-left:15px ;margin-right: 15px;margin-top: 15px;background: white;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;">
                    <img id="imgCard" src="https://falabella.scene7.com/is/image/FalabellaPE/17828609_1?wid=800&hei=800&qlt=70" class="card-img-top" alt="imagen 2">
                    <div class="card-body">
                        <h5 class="card-title">Calzado Mujer</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a class="btn btn-dark" href="./MUJERES.html" role="button">Ver Productos</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col mb-4">
                <div class="card" style="max-width: 2000px; min-height: 500px; border-radius:0 auto;margin-left:15px ;margin-right: 15px;margin-top: 15px;background: white;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;">
                    <img id="imgCard" src="https://falabella.scene7.com/is/image/FalabellaPE/17327591_1?wid=800&hei=800&qlt=70" class="card-img-top" alt="imagen 3">
                    <div class="card-body">
                        <h5 class="card-title">Calzado Niños</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a class="btn btn-dark" href="../views/Niños.html" role="button">Ver Producto</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col mb-4">
                <div class="card" style="max-width: 2000px; min-height: 500px; border-radius:0 auto;margin-left:15px ;margin-right: 15px;margin-top: 15px;background: white;box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;">
                    <img id="imgCard" src="https://www.backseries.com/wp-content/uploads/lanzamiento-adidas-yeezy-boost-700-tephra-FU7914.jpg" class="card-img-top" alt="imagen 4">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="card-body">
                        <h5 class="card-title">Ultimos Lanzamientos</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a class="btn btn-dark" href="../views/Lo mas Nuevo.html" role="button">Ver Producto</a>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Derechos Reservados &copy; 2021</p>
            <a class="nav-link" href="../views/politicas de privacidad.html">POLITICAS DE PRIVACIDAD <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="../views/derechos de  autor.html">DERECHOS DE AUTOR<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="../https://www.facebook.com/">FACEBOOK <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="../https://wa.me/message/OY7HSCSKDWEOA1">WHATSAPP <span class="sr-only">(current)</span></a>
        </footer>


        <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js "></script>
        <script src="../resources/Bootstrap/bootstrap.bundle.min.js "></script>

</body>


</html>